<%- include("./partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="https://t4.ftcdn.net/jpg/02/66/72/41/360_F_266724172_Iy8gdKgMa7XmrhYYxLCxyhx6J7070Pr8.jpg" alt="cat profile">
<p>
    I am a passionate and innovative developer with a deep enthusiasm for technology and problem-solving. 
    With a strong foundation in full-stack development and a flair for creating dynamic web solutions, 
    I continually push boundaries to craft efficient, user-centric applications. 
    My expertise spans across various domains, from AI and data analysis to cutting-edge web technologies, 
    all driven by a love for learning and continuous improvement. Through my diverse experiences and technical know-how, I aim to contribute impactful, forward-thinking solutions to the world of tech..</p>
    
<%- include("./partials/footer.ejs") %>